<h1>List of Pre-historic Creatures</h1>
<form method='GET' action='/prehistoric_creatures'>
    <label for='typeFilter'>Filter by Type</label>
    <input type='text' id='typeFilter' name='typeFilter'>
    <input type='submit'>
</form>
<ul id = "creatureIndex">
    <% creatures.forEach((creature, i) => { %>
        <li class = "creature"><%= creature.type %></li>
        <img src=<%= creature.img_url %>>
        <form method="POST" action="/prehistoric_creatures/<%= i %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    <% }) %>
</ul>