<h1>Add a New Creature</h1>

<form action='/prehistoric_creatures'method='POST'>
    <label for='creatureType'>Type</label>
    <input type='text' name='type' id='creatureType'>

    <label for='creatureUrl'>Image URL</label>
    <input type='text' name='img_url' id='creatureUrl'>

    <input type='submit'>
</form>