<h1>List of Dinosaurs</h1>
<form method='GET' action='/dinosaurs'>
    <label for='nameFilter'>Filter by Name</label>
    <input type='text' id='nameFilter' name='nameFilter'>
    <input type='submit'>
</form>
<ul id ="dinoIndex">
    <% dinosaurs.forEach(dinosaur => { %>
        <li class = "dino"><%= dinosaur.name %> is a <%= dinosaur.type %></li>
    <% }) %>
</ul>
